@charset "UTF-8";
a:link {text-decoration:none; color:#dc3545;}
a:hover {text-decoration:none; color:red;}
a:link {text-decoration:none; color:#dc3545}
a:link {text-decoration:none; color:#f15c30;}